<header>
        <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
            <a class="navbar-brand nav-title" href="#"><h1><i>Comic Case</i></h1></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="nav-profile" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" type="button" id="logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>   

    <div class="feed-sidebar bg-dark">
        <ul class="nav nav-pills nav-flush flex-sm-column flex-row mb-auto mx-auto text-center justify-content-center align-items-center">
            <li>
                <h4>{{firstname}}</h4>
            </li>
            <li>
                <p>{{location}}</p>
            </li>
            <li>
                <p>{{acctcreatedate}}</p>
            </li>
        </ul>
        <p class="text-center">Welcome to the feed! see what other users are collecting</p>
        
    </div>
    <div class="feed-content">
        {{#each comics as |comic|}}
        <div class="feed-card feed-card-size">
            <img class="card-img-top cardImage" src={{comic.image}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Title: {{comic.title}}</h5>
                <ul>
                    <li class="volume">Volume: {{comic.volume}}</li>
                    <li class="publish-date">Published Date: {{comic.cover_date}}</li>
                    <li class="condition">Condition: {{comic.condition}}</li>
                </ul>
                <p class="text-center">{{user.firstname}}</p>
            </div>
        </div>
        {{/each}}
    </div>

<script src="/js/logout.js"></script>
    