<header>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand nav-title" href="#"><h1><i>Comic Case</i></h1></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/feed" id="nav-feed">Feed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" type="button" id="logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="profile-sidebar bg-dark">
        <ul class="nav nav-pills nav-flush flex-sm-column flex-row mb-auto mx-auto text-center align-items-center justify-content-center">
            <li class="nav-item">
            </li>
                <h4>Welcome!</h4>
                <h5>{{firstname}}</h5>
            <li>
                <p>{{location}}</p>
            </li>
            <li>
                <p>member since:</p>
                <p>{{acctcreatedate}}</p>
            </li>
        </ul>
        <div class="profile-create-box align-items-center justify-content-center">
            <form id="search-form">
            <h2>Add new case</h2>
                <div class="user-box ">
                    <input  id="namesearch" type="text" name="q" placeholder="comic Name">
                    <input  id="issuesearch" type="text" name="q" placeholder="issue number">
                </div>
                <div>
                    <select name="languages" id="condition">
                        <option value="select">Condition?</option>
                        <option value="Near Mint">Near Mint</option>
                        <option value="Very Fine">Very Fine</option>
                        <option value="Fine">Fine</option>
                        <option value="Very Good">Very Good</option>
                        <option value="Good">Good</option>
                        <option value="Fair">Fair</option>
                        <option value="Poor">Poor</option>
                    </select>
                </div>
                <a href="#" id="search-submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <input type="submit">
                </a>
            </form>
        </div>
    </div>
    <div class="profile-content">
        {{#each comics as |comic|}}
        <div class="profile-card profile-card-size">
            <img class="card-img-top cardImage" src={{comic.image}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">{{comic.title}}</h5>
                <ul>
                    <li class="volume">{{comic.volume}}</li>
                    <li class="publish-date">{{comic.published_date}}</li>
                </ul>
            </div>
        </div>
        {{/each}}
    </div>
    
    <script src="/js/logout.js"></script>
    <script src="/js/search.js"></script>
    